<div>
  <section id="list-container">
    <div *ngFor="let EachTodo of allTodoData; let idx = index">
      <div id="todo-tab" *ngIf="!EachTodo.edit">
        <div>{{idx}}</div>
        <div>{{EachTodo.task}}</div>
        <div (click)="onEditHandler(idx)">
          <img src="../../../assets/images/edit.png" alt="Edit todo task">
        </div>
        <div (click)="onDeleteHandler(idx)">X</div>

      </div>
      <edit-todo *ngIf="EachTodo.edit" [idxToEdit]="idx"></edit-todo>
    </div>
  </section>
</div>